*{
    margin: 0;
    padding: 0;
}
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.login-card{
    position: absolute;
    display: flex;
    width: 80%;
    height: 80vh;
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.login-card-left{
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-card-left>div{
    height: 10vh;
}
.login-card-right{
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-card-right>h2{
    margin-top: 15%;
}
.login-card-right>div{
    width: 70%;
    margin-top: 5%;
}
.login-card-right>div>p{
    margin-top: 2%;
}
.login-card-right>div>input{
    height: 5vh;
    width: 100%;
    padding: 10px;
    margin-top: 2%;
    outline: none;
}
.login-card-right>button{
    background-color: #1AEBB6;
    width: 50%;
    height: 5vh;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
}
.left{
    width: 40%;
    height: 100vh;
    background-color: #1AEBB6;
}
.right{
    width: 60%;
    height: 100vh;
}