.table-container{
    margin-top: 8vh;
    box-sizing: border-box;
}

#data{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#data .th {
    background-color: #E5E5E5;
}

.td-font-weight{
    font-weight: 400;
}

.th, .td{
    text-align: center;
    padding: 10px 20px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    table {
      display: block;
      overflow-x: auto;
    }
}

.tabla-troll{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.tt{
    width: 100%;
    text-align: center;
}
.cont{
    width: 100%;
    height: 3vh;
    background-color: #E5E5E5;
}
.el{
    margin-top: 1vh;
}